language: julia
os:
  - osx
  - linux
julia:
  - 0.7
  - 1.0
  - nightly
notifications:
  email: false

matrix:
  allow_failures:
    - julia: nightly

# Required for Dierckx
addons:
  apt:
    packages:
      - gfortran

before_install:
    - if [ "$TRAVIS_OS_NAME" == "osx" ]; then
            brew cask uninstall oclint;
            brew install gcc;
      fi

after_success:
  - julia -e 'import Pkg; cd(Pkg.dir("SAC")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
